<div id="contact" class="sticky top-[100vh] mt-20">
    <h3 class="text-center text-2xl">¡Contacta conmigo!</h3>
    <nav class="flex sm:justify-center items-center flex-col sm:flex-row sm:items-baseline sm:space-x-4">
        <p class="rounded-lg px-3 py-2 text-[#334155] font-medium hover:text-[#0f172a]">Correo: <a class="hover:bg-[#F0BF9B] border-[#F0BF9A] border-b-1" itemprop="email" href="mailto:ricardo.r.f&#64;hotmail.com">ricardo.r.f&#64;hotmail.com</a></p>
        <p class="rounded-lg px-3 py-2 text-[#334155] font-medium hover:text-[#0f172a]">Linkedin: <a class="hover:bg-[#F0BF9B] border-[#F0BF9A] border-b-1" href="https://linkedin.com/in/ricardoroblesfernandez/">Ricardo Robles Fernández</a></p>
    </nav>
</div>
