<div id="about" class="text-gray-800 mt-14 py-5 md:flex max-w-xl mx-auto md:space-x-14">
    <img src="assets/ricardo.jpeg" alt="About" class="w-52 h-52 mx-auto rounded-full">
    <div class="max-w-xl">
        <h3 class="text-4xl">¡Hola!, Me llamo Ricardo Robles.</h3>
        <p class="text-2xl text-[#014D85]">Programador Back-end</p>
        <p class="text-2xl underline">Con {{years}} años, {{months}} meses, {{days}} días, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos de experiencia.</p>
        <p>Ingeniero Informático y apasionado por la tecnología.</p>
    </div>
</div>
