<div id="tech" class="text-center">
    <h3 class="text-2xl mt-10">Tecnologías con las que me siento cómodo trabajando</h3>

    <div class="lg:flex flex-wrap justify-center mt-10">
        @for (tech of techs; track tech) {
        <div class="text-center shadow-lg p-10 ml-2 rounded-xl lg:max-w-xs">
            <div class="md:flex max-w-xl mx-auto justify-center md:space-x-4">
                <img ngSrc="{{tech.imgPath}}" alt="{{tech.title}}" class="mx-auto" height="80" width="80">
                <h3 class="text-lg font-medium pt-8 pb-2 left-10 mx-auto">{{tech.title}}</h3>
            </div>
            <p class="py-2">{{tech.subtitle}}</p>
        </div>
        }
    </div>
</div>