<section>
  <app-navbar></app-navbar>
  <app-about></app-about>

  @defer (on viewport) {
    <app-experience></app-experience>
  } @placeholder {
    <div class="h-96"></div>
  }

  @defer (on viewport) {
    <app-certs></app-certs>
  } @placeholder {
    <div class="h-96"></div>
  }

  @defer (on viewport) {
    <app-projects></app-projects>
  } @placeholder {
    <div class="h-96"></div>
  }

  @defer (on viewport) {
    <app-tech></app-tech>
  } @placeholder {
    <div class="h-96"></div>
  }

  @defer (on viewport) {
    <app-contact></app-contact>
  } @placeholder {
    <div class="h-96"></div>
  }
</section>