<section id="contact" class="sticky top-[100vh] mt-20 fade-in">
  <h2 class="text-center text-2xl">¡Contacta conmigo!</h2>
  <nav class="flex sm:justify-center items-center flex-col sm:flex-row sm:items-baseline sm:space-x-4">
    <p class="rounded-lg px-3 py-2 text-[#334155] dark:text-gray-300 font-medium hover:text-[#0f172a] dark:hover:text-white">
      Correo:
      <a class="hover:bg-[#F0BF9B] dark:hover:bg-amber-600 border-[#F0BF9A] dark:border-amber-700 border-b-1 transition-colors" itemprop="email" href="mailto:ricardo.r.f@hotmail.com">
        ricardo.r.f@hotmail.com
      </a>
    </p>
    <p class="rounded-lg px-3 py-2 text-[#334155] dark:text-gray-300 font-medium hover:text-[#0f172a] dark:hover:text-white">
      Linkedin:
      <a class="hover:bg-[#F0BF9B] dark:hover:bg-amber-600 border-[#F0BF9A] dark:border-amber-700 border-b-1 transition-colors" href="https://linkedin.com/in/ricardoroblesfernandez/">
        Ricardo Robles Fernández
      </a>
    </p>
  </nav>
</section>
